.hero-content-bg {
  color: #fff;
  height: 87vh;
}

.capital-red {
  color: rgba(255, 0, 0, 0.889);
}

#blog {
  height: 80vh !important;
}

.active {
  color: rgba(255, 0, 0, 0.839) !important;
}

.ooo{
  background: #ffffff00;
}