.hero-content-bg {
  background-color: #000 !important; /* pure black */
  color: #fff;
  height: 87vh;
}

.capital-red {
  color: rgba(255, 0, 0, 0.575);
}

#blog {
  height: 80vh !important;
}

.active {
  color: rgba(255, 0, 0, 0.575) !important;
}